.home-container {
  min-height: 650px;
  background-image: url('../../assets/images/fondo-vsiaf.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #8db9dc;
}

@media (max-width: 768px) {
  .home-container {
    min-height: 500px;
  }
}