.baja-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.baja-title {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.baja-title h2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.baja-card {
  background: #ffffff;
  padding: 25px;
  border: 1px solid #4a90e2; 
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

.baja-card input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #999999;
  border-radius: 4px;
  font-size: 14px;
}

.baja-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #777777;
  margin-bottom: 25px;
  background-color: #ffffff;
}

.baja-table th {
  background-color: #004080;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #777777;
  text-align: center;
}

.baja-table td {
  border: 1px solid #777777;
  padding: 8px 12px;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

.baja-table tbody tr {
  cursor: pointer;
}

.baja-table tbody tr:hover {
  background-color: #a5cfdb !important;
}

.baja-table tbody tr.baja-fila-seleccionada {
  background-color: #b7d9f2 !important;
}

.baja-table tbody tr.baja-fila-seleccionada:hover {
  background-color: #b7d9f2 !important;
}

.baja-actions-container {
  width: 100%;
  border: 1px solid #a3c4f3; 
  border-radius: 12px; 
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.baja-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.btn-baja {
  background: linear-gradient(to bottom, #3494e6, #1d6fa5);
  color: #ffffff ;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 8px 24px;
  border: 2px solid #08305e ;
 border-radius: 0px ;
 cursor: pointer ;
  font-weight: bold ;
  font-size: 13px;
  box-shadow: inset 0 1px 0 rgba(104, 135, 223, 0.4), 0 2px 4px rgba(0,0,0,0.15);
  min-width: 110px;
  text-align: center;
  transition: all 0.1s ease;
}

.btn-baja:hover {
  background: linear-gradient(to bottom, #2c82cc, #175b8a) ;
  box-shadow: inset 0 1px 0 rgba(158, 215, 241, 0.4), 0 4px 8px rgba(0,0,0,0.2); 
}